{% extends "document.html" %}

{% block body %}
<div class="container" :data-pending="pending">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 pt-2">
      <h1 class="h5 text-center mb-5">HRIS Connect</h1>
      <p>A software program for connecting and uploading logs from biometric devices into the HRIS. </p>
      <div class="text-center">
        <h2 class="h6 mt-5 mb-3">Powered by Nicrisoft</h2>
        <p>Nico Amarilla <em>NodeJS, ElectronJS</em> | Cris Vincent Ferrer <em>.NET C#, SDK Integration</em></p>
        <img width="100px" src="/images/logo.png" alt="">
        <p class="mb-1"><em><small>&copy; Copyright 2025</small></em></p>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}

